chromadb==0.4.24
uvicorn==0.30.1 # Update uvicorn to a version compatible with newer Starlette
starlette==0.37.2 # Pin Starlette to satisfy FastAPI's requirement
fastapi==0.111.0
opentelemetry-api==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-instrumentation-fastapi==0.45b0